 *,
 *::after,
 *::before {
  box-sizing: border-box;
 }
 
 #details form,
 #enrolment form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

dialog > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr, 2fr, 1fr;
  gap: 2rem;
}

#details,
#enrolment {
  grid-column: span 2;
}

#wellbeing-star {
  grid-column: span 2;
}

legend {
  font-size: 1rem;
  margin: 0;
}